.colorcajon
  background-color: #DEF1FF
  height: 111px
  width: 620px

.margentext
  padding: 20px 

.imgpos
  float: right
  background-position: top
  width: auto
  height: auto

.imgpos2
  float: left
  background-position: top
  width: auto
  height: auto

.colorcajon2
  background-color: #FEF4D6
  height: 138px
  width: 620px
  float: right
  align-content: center
  margin: 40px 10px 0px 10px

.posctext
  float: left

.cajontitle2
  height: 51px
  width: 232px
  padding: 12px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 30px

.text
  text-align: center

.imgpos3
  float: right
  background-position: top
  width: auto
  height: auto
  padding-top: 20px

.margentext2
  padding: 17px 
  
.colorcajon3
  background-color: #FEF4D6
  height: 298px
  width: 1030px
  float: none
  align-content: center
  margin-left: 90px
  padding: 20px 20px 20px 20px

.lup
  margin: 20px 20px 20px 40px

.cajontitle3
  height: 51px
  width: 326px
  padding: 12px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 4px

.imgpos4
  margin: 10px 0px 0px 70px

.cajontitle4
  height: 51px
  width: 326px
  padding: 12px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 4px

.imgpos5
  float: right
  background-position: top
  width: auto
  height: auto

.titulo_principal 
    border-bottom: solid 3px #B52426
    margin-bottom: 0px
    padding-bottom: 0px
    display: flex
    align-items: center

.imgpos6
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 60px

.colorcajon4
  background-color: #DEF1FF
  height: 140px
  width: 820px

.imgpos7
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 30px

.colorcajon5
  background-color: #FEF4D6
  padding: 20px 20px 20px 20px

.textizq
  float: right

.lup2
  margin: 5px 10px 10px 40px

.colorcajon6
  background-color: #FEF4D6
  padding: 5px 10px 5px 10px

.imgpos8
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 40px

.colorblue
  background-color: #DEEDFF

.icon1
  height: auto
  width: auto
  margin: 30px 10px 20px 10px

.margenicon1
  margin: 20px 10px 5px 10px 

.margentext3
  padding: 30px 

.fond
  float: left
  margin-left: 50px

.fond2
  float: right
  margin-right: 50px

.colorcajon7
  background-color: #FEF4D6
  padding: 5px 10px 5px 10px
  width: 1030px
  height: 108px
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px
  padding: 20px
  top: 40px

.imgpos9
  float: right
  background-position: top
  width: auto
  height: auto
  margin-left: 90px
  margin-right: 90px

.colorfondo1
  background-color: #FEF4D6

.alinearcuadro
  align-content: center
  margin-left: 40px

.imgpos10
  float: right
  background-position: top
  width: auto
  height: auto

.centerimg
  margin: 10px auto 10px
  display: block

.icon2
  height: auto
  width: auto
  margin: 40px 10px 20px 10px

.fond3
  margin: 5px
  background-color: #6B98CC
  justify-content: center
  align-items: center
  float: right
  width: 295px
  height: 480px

.margentext4
  padding: 30px 
  text-align: center

.cajontitle5
  height: 51px
  width: 378px
  padding: 12px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 4px
  margin-top: 500px

.icon3
  height: auto
  width: auto
  margin: 60px 10px 20px 40px

.textizq2
  float: right
  margin: 100px 60px 10px 10px

.cajontitle6
  height: 51px
  width: 210px
  padding: 12px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 4px

.textizq3
  float: left
  margin-top: 40px
  
.icon4
  height: auto
  width: auto
  margin: 20px 10px 20px 40px
  float: right