.margentext
  padding: 1.2rem 
  float: left

.par
  float: left

.imgpos
  float: right
  margin-top: 30px
  width: auto
  height: auto
  margin-block-end: 30px

.imgpos2
  float: left
  width: auto
  height: auto

.posctext
  float: left

.cajontitle2
  height: 3rem
  width: 14.5rem
  padding: 0.8rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 1.8rem

.cajontitle21
  height: 2.5rem
  width: 11rem
  padding: 0.5rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 1.8rem

.text 
  text-align: center

.margentext2
  padding: 1.1rem 
  
.colorcajon3
  background-color: #FEF4D6
  height: 18.6rem
  width: 64.3rem
  float: none
  align-content: center
  margin-left: 5.6rem
  padding: 1.2rem 1.2rem 1.2rem 1.2rem

.lup
  margin: 1.2rem 1.2rem 1.2rem 2.5rem

.cajontitle3
  height: 3.2rem
  width: 20.3rem
  padding: 0.7rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 0.3rem

.imgpos4
  margin: 0 auto
  margin-top: 1.2rem
  margin-block-end: 1.2rem

.cajontitle4
  height: 2.8rem
  width: 16rem
  padding: 0.5rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 0.3rem

.imgpos5
  float: right
  background-position: top
  width: auto
  height: auto

.titulo_principal 
    border-bottom: solid 0.2rem #B52426
    margin-bottom: 0rem
    padding-bottom: 0rem
    display: flex
    align-items: center

.imgpos6
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 3.8rem

.imgpos7
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 1.8rem

.colorcajon5
  background-color: #FEF4D6

.textizq
  float: right

.lup2
  margin: 0.3rem 0.6rem 0.6rem 2.5rem

.colorcajon6
  background-color: #FEF4D6
  padding: 0.3rem 0.3rem 0rem 0.3rem

.imgpos8
  float: right
  background-position: top
  width: auto
  height: auto
  margin-top: 2.5rem

.colorblue
  background-color: #DEF1FF
  margin: 20px 0px 30px 0px
  border-radius: 12px

.icon1
  height: auto
  width: auto
  margin: 1.8rem 0.6rem 1.2rem 0.6rem

.margenicon1
  margin: 1.2rem 0.6rem 0.3rem 0.6rem 

.margentext3
  padding: 1.8rem

.fond
  float: left
  margin-left: 3.1rem

.fond2
  float: right
  margin-right: 3.1rem

.colorcajon7
  background-color: #FEF4D6
  padding: 0.3rem 0.6rem 0.3rem 036rem
  width: 64rem
  height: 6.6rem
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem
  padding: 1.2rem
  margin: 0 auto

.imgpos9
  float: right
  width: auto
  height: auto
  margin-left: 5.6rem
  margin-right: 5.6rem

.alinearcuadro
  align-content: center
  margin-left: 2.5rem

.imgpos10
  float: right
  width: 349px
  height: 243px
  margin: 0px 110px 0px 10px

.imgpos101
  float: right
  width: 505px
  height: 252px
  margin: 0px 20px 0px 0px

.centerimg
  margin: 0.6rem auto 0.6rem
  display: block

.icon2
  height: auto
  width: auto
  margin: 2.5rem 0.6rem 1.2rem 0.6rem

.fond3
  margin: 0.3rem
  background-color: #6B98CC
  justify-content: center
  align-items: center
  float: right
  width: 18.4rem
  height: 30rem

.margentext4
  padding: 1.8rem
  text-align: center

.cajontitle5
  height: 3.1rem
  width: 22rem
  padding: 0.8rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 0.3rem
  margin-top: 2rem

.icon3
  height: auto
  width: auto
  margin: 3.7rem 0.8rem 1.2rem 5rem

.textizq2
  float: right
  margin: 6.2rem 3.7rem 0.6rem 0.6rem

.cajontitle6
  height: 3.2rem
  width: 12rem
  padding: 0.8rem
  border-radius: 2.5rem
  background-color: #CCE6FB
  margin-top: 0.2rem

.textizq3
  float: left
  margin-top: 3.1rem
  
.icon4
  height: auto
  width: auto
  margin: 1.2rem 0.6rem 1.2rem 2.5rem
  float: right

.colorcajon8
  background-color: #FEF4D6
  padding: 1.2rem 1.2rem 1.2rem 1.2rem

.cajontitle7
  background-color: #FAC627
  width: 51.2rem
  height: 4.3rem
  display: flex
  justify-content: center
  align-items: center
  margin: 0px auto

.cajontitle8
  background-color: #DEF1FF
  width: 51.2rem
  height: 20.5rem
  display: flex
  justify-content: center
  align-items: center
  margin: 0px auto
  
.text2
  text-align: center
  margin-top: 20px

.icon5
  height: auto
  width: auto
  float: left
  margin: 1.2rem 3rem 2rem 1.2rem

.textizq4
  float: right
  margin: 0.6rem 0.6rem 0.6rem 0.6rem

.textizq5
  float: left
  margin-top: 2.5rem

.text3
  text-align: left
  float: left

.fond4
  margin: 0.2rem 
  justify-content: center
  align-items: center
  float: right
  width: 25rem
  height: 28.5rem

.margentext5
  padding: 0.6rem 0.6rem 0.6rem 0.6rem
  text-align: center

.text4
  text-align: left
  float: left
  margin: 0.6rem

.coloramarillo
  background-color: #FEF4D6
  justify-content: center
  align-items: center
  margin: 0px auto

.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #ECF7FF

.tarjeta-apilado
  border-radius: 30px;
  margin: 10px

.tarjeta-apilado.verde
  background-color: #DEEDFF
  width: 285px

.tarjeta-apilado.azul
  background-color: #DEEDFF
  width: 400px

.tarjeta-apilado.azul1
  background-color: #DEEDFF
  width: 500px
  
.pasos-a__linea__esquina__linea
  border: 3px solid #fff
  position: relative
  border-radius: 1px

.caj
  margin: 0 auto

.bg-tarjeta-infografia-o
  background-color: #FEF4D6
  text-align: center
  
.bg-tarjeta-infografia
  background-color: #FEF4D6
  text-align: center

.img-infografica__card
  width: auto

.subi
  margin-top: -20px

.m-t1-top
  margin-top: -3em
