.colorcajon
  background-color: #ECF7FF
  height: 111px
  width: 620px

.margentext
  padding: 17px 

.imgpos
  float: right
  background-position: top
  width: auto
  height: auto

.imgpos2
  float: left
  background-position: top
  width: auto
  height: auto

.colorcajon2
  background-color: #FEF4D6
  height: 138px
  width: 620px
  float: right
  align-content: center
  margin: 40px 10px 0px 10px

.posctext
  float: left

.cajontitle2
  height: 51px
  width: 232px
  padding: 10px
  border-radius: 10px
  background-color: #CCE6FB
  margin-top: 30px

.text
  text-align: center

.imgpos3
  float: right
  background-position: top
  width: auto
  height: auto

.margentext2
  padding: 17px 

.colorcajon3
  background-color: #ECF7FF
  
